$dark-green: #197373;
$light-green: #8ba387;
$red: #9b3029;
$brown: #dd8752;

$dark-green-transparent: rgba(25, 115, 115, 0.7);
$light-green-transparent: rgba(139, 163, 135, 0.7);
$brown-transparent: rgba(221, 135, 82, 0.7);
$red-transparent: rgba(155, 48, 41, 0.7);
