// content page frame settings

main {
  position: relative;

  .hero-img-wrap {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  p,
  ul {
    @include Paragraphs();
    margin: 1em;
  }
}

@media only screen and (min-width: 45em) {
  // content page frame settings

  main {
    p,
    ul {
      @include Paragraphs(1em);
      margin: 2em;
    }
  }
}

@media only screen and (min-width: 80em) {
  // content page frame settings

  main {
    .hero-img-wrap {
      max-height: 85vh;
      object-fit: cover;

      img {
        max-height: 85vh;
      }
    }

    p,
    ul {
      @include Paragraphs(1.5em);
      margin: 2em;
    }
  }
}
